.offer_container {
  padding: 110px 0;
  background-color: #fff;
}

.offer_container_reverse {
  background-color: #f7f7f7;
}

.offer_body {
  width: 87%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.offer_body_reverse {
  flex-direction: row-reverse;
}

.offer_caption {
  width: 40%;
}

.offer_body_head {
  font-family: 'GibsonBold';
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  color: #25313c;
  /* font-size: 45px; */
  /* font-weight: 700; */
  padding-bottom: 20px;
}

.offer_body_text {
  font-size: 30px;
  line-height: 38px;
  color: #6d7d8b;
  position: static;
  width: 477px;
  height: 114px;
  left: 0px;
  top: 170px;

  /* font-family: Mulish; */
  font-style: normal;
  font-weight: normal;
  opacity: 0.6;
  /* margin: 50px 0px; */
  /* font-size: 17px; */
  /* width: 50%; */
}

.offer_icon_container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.offer_icon_reverse {
  text-align: start;
}

.offer_icon_container img {
  height: 360px;
}

@media (max-width: 600px) {
  .offer_body {
    width: 90%;
    flex-direction: column;
  }

  .offer_body_reverse {
    flex-direction: column;
  }

  .offer_caption {
    text-align: center;
    width: 100%;
    margin-bottom: 90px;
  }

  .offer_body_head {
    font-size: 35px;
  }

  .offer_body_text {
    width: 100%;
  }

  .offer_icon_container {
    width: 100%;
    text-align: center;
  }
  .offer_icon_container img {
    height: 200px;
  }
}
