.action_container {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 20px 0;
  width: 87%;
}

.action_head {
  display: flex;
}

.action_text {
  padding-top: 60px;
  /* width: 50%;
  padding-right: 10%; */
}

.action_text_head {
  font-family: 'GibsonBold';
  /* font-size: 55px;
  font-weight: 700; */
  /* padding-bottom: 20px; */
  color: #25313c;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 79px;
  margin: 40px 0px;
}

.action_body {
  /* width: 80%;
  font-size: 17px; */
  position: static;
  width: 582px;
  height: 90px;
  left: 0px;
  top: 277px;

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  /* Secondary text */

  color: #6d7d8b;
}

.action_phone {
  text-align: center;
}

/* .action_phone img {
  height: 440px;
} */

.action_base {
  display: flex;
  margin-top: 100px;
}

.action_base_box {
  margin-right: 10%;
  flex: 0.33;
}

.action_base_box p {
  opacity: 0.7;
  font-size: 17px;
  color: #6d7d8b;
}

.action_base_icon {
  margin-bottom: 10px;
  height: 50px;
}

@media (max-width: 600px) {
  .action_container {
    width: 90%;
  }

  .action_head {
    flex-direction: column;
  }

  .action_text {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }

  .action_text_head {
    /* font-size: 40px;
    font-weight: 700; */
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    /* or 52px */

    text-align: center;

    /* primary black text NH */

    color: #25313c;
  }

  .action_body {
    /* width: 80%; */
    margin: 0 auto;
    position: static;
    width: 311.64px;
    height: 114px;
    left: 4.42px;
    top: 186px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    /* Secondary text */

    color: #6d7d8b;
  }

  .action_phone {
    margin-top: 50px;
  }

  .action_phone img {
    height: 300px;
  }

  .action_base {
    flex-direction: column;
  }

  .action_base_box {
    margin-right: 20px !important;
    margin-left: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
