* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  margin: 0 auto;
  padding: 20px 0;
  width: 87%; 
}

.logo img {
  height: 80px;
}

.subscribe_prompt {
  width: 87%;
  margin: 0 auto;
}

.subscribe_prompt_text {
  font-size: 35px;
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
  color: #6D7D8B;
  text-align: center;
}

.subscribe_prompt p {
  display: flex;
  justify-content: center;
}


@media (max-width: 600px) {
  .logo {
    text-align: center;
  }
  .logo img {
    height: 40px;
  }

  .subscribe_prompt_text {
    font-size: 30px;
    width: 100%;
  }

  .subscribe_prompt_input {
    width: 100%;
  }
}