.action_input {
  display: flex;
  margin-top: 35px;
}

.action_input_container {
  width: 270px;
  margin-right: 10px;
}

.action_button_container {
  width: 150px;
}

@media (max-width: 600px) {
  .action_input {
    flex-direction: column;
    margin-top: 70px;
  }

  .action_input_container {
    width: 100%;
    margin-right: 0;
  }

  .action_button_container {
    width: 100%;
  }
}